body {
    margin: auto;
}

#users {
    width: 84px;
    height: 84px;
}

#logo {
    width: 422px;
    height: 147px;
}
.nav-wrappter {
    background-color: #fff;
    padding: 5px;
    width: 100%;
    position: sticky;
    top: 0;
    box-shadow: 3px 3px 5px 6px #ccc;
    z-index: 1; 
}

#icon {
    max-width: 200px;
}

.nav-list {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    width: 100%;
}

.nav-list li {
    display: inline;
    margin: 0;
    padding-top: 26px;
}

.nav-list li a {
    color: #1b91db;
    text-decoration: none;
    padding: 22px;
}

.employees {
    margin-left: 1.5%;
}

.employee-list {
    list-style: none;
    padding-bottom: 10px;
    display: inline-flex;
    max-width: 100%;
    flex-wrap: wrap;
    background-color: #edeeef;
    border-style: hidden;
    border-radius: 10px;
}

.employee-card {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border-style: hidden;
    border-radius: 10px;
    max-width: 100%;
    margin: 20px;
    padding: 15px;
    box-shadow: 3px 3px 5px 6px #ccc;
}

.user-img {
    float: left;
    border-width: 2px;
    border-style: solid;
    border-radius: 100px;
    border-color: #1b91db;
}

.employment-details {
    display: block;
    float: right;
    margin-left: 20px;
}

.interviews {
    margin: 1.5%;
    width: 25%;
    list-style: none;
    background-color: #edeeef;
    border-style: hidden;
    border-radius: 10px;
    padding: 15px;
}

.list-item {
    background-color: white;
    margin: 20px;
    padding: 10px;
    box-shadow: 3px 3px 5px 6px #ccc;
    border-style: hidden;
    border-radius: 5px;
}

